body {
  background-color: #ffffff;
  color: #0E1419;
  // TODO: 文字以外の色も文字色と同じにしたい
}

body[data-theme="darkblue"] {
  background-color: #15202B;
  color: #F7F9F9;
  // TODO: 文字以外の色も文字色と同じにしたい
}

body[data-theme="black"] {
  background-color: #000000;
  color: #E7E9EA;
  // TODO: 文字以外の色も文字色と同じにしたい
}
