body {
  --app-background-color: #ffffff;
  --app-color: #0E1419;
}

body[data-theme="darkblue"] {
  --app-background-color: #15202B;
  --app-color: #F7F9F9;
}

body[data-theme="black"] {
  --app-background-color: #000000;
  --app-color: #E7E9EA;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-color);
}
