body {
  background-color: #15202B;
  color: #F7F9F9;
}

#header, #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  margin-top: 80px;
}

#parameters {
  margin-top: 16px;
}

#parameters input {
  width: 100%;
}

.button {
  margin-top: 16px;
  height: 32px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* https://github.com/tholman/github-corners/pull/52 */
.github-corner svg {
  clip-path: polygon(0 0, 100% 0, 100% 100%)
}
